
body {
  font-family: "Lexend Zetta", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
section{
  margin-top: 5em;
}

main{
    background-color:white;
}
.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.navi{
    margin-top: 1em;
}
.navigation {
  display: flex;
  gap: 1em;
  justify-content: center;
}
.blocks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav__block {
  width: 25em;
  height: 35em;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.nav__link {
  display: block;
  overflow: hidden;
}

.nav__link:hover .nav__block {
  transform: scale(1.2); 
}
.us__text{
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reasons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 4em;
    margin-left: 1em;
}
.reason{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.2em;
}
.reason__img{
    height: 25em;
    width: 25em;
}
.music__text{
  display: flex;
  justify-content: center;
  font-size: 2em;
}
.albums{
  display: flex;
  justify-content: space-evenly;
  margin-top: 4em;
}
footer {
  border-top: 1px solid #797979; 
  margin-top: 3em;           
  padding-top: 2em;  
}       
.footer__text{
    display: flex;
    justify-content: center;
    height: 2,5em;
}
.footer__cont{
    display: flex;
    justify-content: center;
    font-size: 0.8em;
}
.pants__header__inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: black 0.1em solid;
}
.block__title{
  display: flex;
  justify-content: center;
  font-size: 1em;
}
.choosen__block{
  font-size: 1em;
}
.backet{
  display: flex;
  justify-content: end;
  margin-right: 1,5em;
  text-decoration: none;
  color: #2f2f2f;
}

.jeans__title{
  display: flex;
  justify-content: center;
  font-size: 2em;
}
.jeans__img{
  display: flex;
  justify-content: center;
  height: 20em;
  width: 15em;
  margin-left: 1em;
}
.pants{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slider{
  margin-left: 6.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 35em;
  width: 79em;
  position: relative;
  overflow: hidden;
}
.slider__img{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8 ease ease-in-out;
}
.slider__img.active{
  opacity: 1;
  z-index: 1;
}
.slider img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.product__text{
  display: flex;
  justify-content: center;
  font-size: 2em;
}
.product__img{
  height: 25em;
  width: 22em;
  margin-left: 1em;
}
.sbjeans{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.sb__one__jeans{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.2em;
}
.bjeans{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.b__one__jeans{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.2em;
}
.fjeans{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.f__one__jeans{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.2em;
}
.jackets__header__inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: black 0.1em solid;
}
.jackets__img{
  display: flex;
  justify-content: space-evenly;
  height: 20em;
  width: 15em;
  margin-top: 2em;
}
.jackets{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1em;
}
.jacket__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jacket{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.lejackets{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.lijackets{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.lijacket{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.wajackets{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.wajacket{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.shoes__header__inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: black 0.1em solid;
}
.shoes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1em;
}
.shoes__img{
  display: flex;
  justify-content: space-evenly;
  height: 20em;
  width: 15em;
  margin-top: 2em;
}
.sneakers{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 1em;
}
.shoe__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shoe{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}